* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    background-color: #09080b;
    color: #d29741;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 200px;
}

header h1 {
    font-size: 75px;
    padding-left: 5%;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

nav {
    float: right;
    padding-right: 10%;
    padding-top: 20px;
    display: inline-flex;
    padding-inline-start: 20px;
}

nav a {
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 1em;
    font-size: 30px;
    border-bottom-style: solid;
    color: #d29741;
}

nav a:hover {
    color: #09080b;
    background-color: #d29741;
    transition: all 0.5s;
}

/* Hero Image */
#octo {
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    width: 100%;
    animation-name: octo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Octopus Animation */
@keyframes octo {
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(360deg);}
}

main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    padding-right: 15%;
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    padding-right: 1ch;
    font-size: 45px;
    border-right-style: solid;
    min-width: 9ch;
    max-width: 9ch;
    text-align: end;
    margin-right: 5%;
}

p {
    font-size: 25px;
    
}

#projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

#projects a {
    width: calc(50% - 0.5em);
    height: 200px;
    border: solid #d29741;
    background-position: center;
    text-decoration: none;
}

/* Highlights projects on mouseover */
#projects a:hover {
    box-shadow: 0em 0em 1em #d29741;
    transition: all 0.2s;
}

#projects a h3{
    padding-right: 1em;
    padding-left: 1em;
    text-decoration: none;
    font-size: 25px;
    font-weight:bold;
    background-color: #d29741;
    color: #09080b;
    width: fit-content;
    position: relative;
    top: 30px;
}

#projects #horiseon {
    width: 100%;
    height: 400px;
    background-image: url(../images/horiseon.jpg);
}
#projects #dicom {
    background-image: url(../images/MRI.jpg);
}
#projects #t2k {
    background-image: url(../images/corndog.jpg);
}
#projects #kayak {
    background-image: url(../images/kayak.jpg);
}
#projects #machine {
    background-image: url(../images/thefool.jpg);
}

#contact {
    display: inline-flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}

#contact a {
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 30px;
    border-bottom-style: solid;
    color: #d29741;
}

#contact a:hover {
    color: #09080b;
    background-color: #d29741;
    transition: all 0.5s;
}

/* Adjusts margins and padding based on viewport width */
@media screen and (max-width: 1763px) {
    body {
        margin-left: 0%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 1235px) {
    section {
        padding-left: 5%;
        padding-right: 5%;
    }

    #octo {
        padding-right: 0%;
        padding-left: 0%;
    }

    h2 {
        font-size: 30px;
    }
    #contact {
        flex-direction: column;
        width: fit-content;
    }
}