* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    background-color: #09080b;
    color: #d29741;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 200px;
}

header {
    color: #d29741;
}

header h1 {
    font-size: 75px;
    padding-left: 5%;
    padding-top: 20px;
}

nav {
    float: right;
    padding-right: 10%;
    padding-top: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-flex;
    padding-inline-start: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 30px;
    border-bottom-style: solid;
    color:#d29741;
}

#octo {
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    width: 100%;
}

section {
    display: inline-flex;
    padding-right: 15%;
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    min-width: 7ch;
    padding-right: 5%;
    font-size: 45px;
}

p {
    font-size: 25px;
    padding-left: 5%;
    border-left-style: solid;
}

#projects {
    list-style: none;
    padding-left: 5%;
    display: flex;
    flex-flow: row wrap;
    border-left-style: solid;
}

#projects li {
    height: 50%;
    width: 50%;
}

#projects #Horiseon {
    width: 100%;
}

